{% extends base_template|default:"base.html" %}

{% load cms_tags allink_cms_tags sekizai_tags i18n thumbnail %}

{# Page Title - Required for Softpage (Google Tag Manager) #}
{% block softpage_title %}{{ object.title }} | {% if allink_config.default_base_title %}{{ allink_config.default_base_title }}{% else %}{{ request.site.name }}{% endif %}{% endblock softpage_title %}

{% block content %}
    <div class="content-section app-content-plugin detail-view container-enabled">
        <div class="container" data-scroll-spy>

            {% if object.images %}
                <div class="image-container header-image-container">
                    {% include "slider_detail/content.html" with display_title=False title_content=object.title %}
                </div>
            {% endif %}

            {% render_placeholder object.header_placeholder %}

            <header class="section-heading">
                <h1 class="heading">
                    {% render_model_ajax object "title" %}
                </h1>
            </header>

            <div class="app-detail-col-container col-2-1">

                <div class="col">
                    <div class="text-container">
                        {# optional: lead #}
                        {% if object.job_title or object.job_function %}
                            <p class="lead">
                                {% if object.job_title %}
                                    {{object.job_title}}<br>
                                {% endif %}
                                {{object.job_function}}
                            </p>
                        {% endif %}
                        {# we wouldn't be here if the text was empty #}
                        {{object.text}}
                    </div>
                </div>{# end .col #}

                <div class="col">
                    <div class="manage-spacings">
                        <div class="text-container">
                            <h2 class="heading">
                                {% comment %}

                                    {% trans "2 Column" %}

                                {% endcomment %}
                            </h2>
                            <p>
                                {% comment %}

                                    {% if object.title %}
                                        {{object.title}}<br>
                                    {% endif %}

                                {% endcomment %}
                            </p>
                        </div>
                    </div>
                </div>{# end .col #}

            </div>{# end .col-container #}
        </div>
    </div>
{% endblock %}
