{% extends base_template|default:"base.html" %}

{% load cms_tags sekizai_tags i18n thumbnail %}

{# Page Title - Required for Softpage (Google Tag Manager) #}
{% block softpage_title %}{{ object.title }} | {{ request.site.name }}{% endblock softpage_title %}

{% block content %}
    <div class="content-section app-content-plugin detail-view container-enabled">
        <div class="container" data-scroll-spy>
            <div class="manage-spacings">
                {% if object.preview_image %}
                    <div class="image-container">
                       {% include "slider_container/content.html" with display_title=True title_content=object.title %}
                    </div>
                {% endif %}
                {% if object.title %}
                    <header class="heading-container">
                        <h1 class="heading">
                            {{ object.title }}
                        </h1>
                    </header>
                {% endif %}
                {% if object.text %}
                    <div class="text-container">
                        {{ object.text }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
