{% load cms_tags staticfiles sekizai_tags thumbnail i18n %}

<div class="content-plugin browser-suggestion hidden">
    <div class="browser-suggestion__container">
        <div class="text-container">
            <h5 class="lead">{% trans 'Browser Info' %}</h5>
            <h3 class="heading">{% trans 'no optimal representation possible' %}</h3>
            <p class="text">{% trans 'Your web browser does not provide an optimal representation of our website. This means that some functions may not work or the view may be incorrect. We recommend that you use a current browser.' %}</p>
        </div>
        <span class="browser-suggestion__list">
        </span>
        <a href="" class="button-link-plugin__link  btn btn-default btn-md js-use-legacy-browser" target="" rel="noopener" role="button">
            <span class="button-link-plugin__text">
                {% trans 'Visit Anyways' %}
            </span>
            <span class="btn__text--mask">
                <span class="btn__text--mask__inner">
                    {% trans 'Visit Anyways' %}
                </span>
            </span>
        </a>
    </div>
</div>
