{% load cms_tags staticfiles sekizai_tags i18n thumbnail %}

{% block app_content_section %}
    <div class="content-section app-content-plugin list-view {% spaceless %}{% block app_content_section_name_classes %}{% endblock app_content_section_name_classes %} {{instance.css_classes}}{% endspaceless %} app-content-plugin-{{instance.id}}" data-scroll-spy>
        <div class="container">

        {% comment %}
            Optional: Outer container background image
        {% endcomment %}
            {% if instance.bg_image_outer_container %}
                {% include "includes/retina_media_query.html" with min_width=0 max_width=320 background_image=instance.bg_image_outer_container|thumbnail_url:'outer-container-bg-image-xs' background_image_2x=slide.image|thumbnail_url:'outer-container-bg-image-xs-x2' content_type_id=instance.id prefix='app-content-plugin' %}
                {% include "includes/retina_media_query.html" with min_width=321 max_width=512 background_image=instance.bg_image_outer_container|thumbnail_url:'outer-container-bg-image-sm' background_image_2x=slide.image|thumbnail_url:'outer-container-bg-image-sm-x2' content_type_id=instance.id prefix='app-content-plugin' %}
                {% include "includes/retina_media_query.html" with min_width=513 max_width=1023 background_image=instance.bg_image_outer_container|thumbnail_url:'outer-container-bg-image-md' background_image_2x=slide.image|thumbnail_url:'outer-container-bg-image-md-x2' content_type_id=instance.id prefix='app-content-plugin' %}
                {% include "includes/retina_media_query.html" with min_width=1024 max_width=1199 background_image=instance.bg_image_outer_container|thumbnail_url:'outer-container-bg-image-lg' background_image_2x=slide.image|thumbnail_url:'outer-container-bg-image-lg-x2' content_type_id=instance.id prefix='app-content-plugin' %}
                {% include "includes/retina_media_query.html" with min_width=1200 max_width=0 background_image=instance.bg_image_outer_container|thumbnail_url:'outer-container-bg-image-xl' background_image_2x=slide.image|thumbnail_url:'outer-container-bg-image-xl-x2' content_type_id=instance.id prefix='app-content-plugin' %}
            {% endif %}

            {% comment %}
                Optional: Section before content
            {% endcomment %}
            {% block app_content_inner_container_before %}
            {% endblock app_content_inner_container_before %}

            {% comment %}
                Main Content Container
            {% endcomment %}
            {% block app_content_inner_container %}

                {% comment %}
                    Heading Container
                {% endcomment %}
                {% block app_content_heading_container %}
                    {% if instance.title %}
                        <header class="section-heading">
                            <h1 class="heading">{{ instance.title }}</h1>
                        </header>
                    {% endif %}

                    {% comment %}
                        Optional: Category List
                    {% endcomment %}
                    {% block app_content_category_container %}
                        {% if instance.category_navigation_enabled %}
                            <ul class="custom-nav-tabs app-content-categories">
                                {% if instance.category_navigation_all %}
                                    <li class="active">
                                        <a class="ajax-load-items" href="{{ by_category }}">
                                            {% block app_content_category_all_text %}
                                                {% trans 'All' %}
                                            {% endblock app_content_category_all_text %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% for category in category_navigation %}
                                <li class="{% if not instance.category_navigation_all and forloop.first %}active {% endif %}">
                                    <a class="ajax-load-items" href="{{ by_category }}&category={{ category.id }}">{{category.name}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock app_content_category_container %}

                {% endblock app_content_heading_container %}

                {% comment %}
                    Optional: Section BEFORE the objects
                {% endcomment %}
                {% block app_content_objects_before %}
                {% endblock app_content_objects_before %}

                {% comment %}
                    Object Loop
                {% endcomment %}
                {% block app_content_objects_content_container %}

                    {% comment %}
                        Required container for Softpage setting
                    {% endcomment %}
                    <div {% if instance.softpage_enabled %}data-trigger-softpage{% endif %}>

                        {% comment %}
                            Container for objects
                        {% endcomment %}
                        {% block app_content_objects_container %}
                        {% endblock app_content_objects_container %}

                    </div>
                {% endblock app_content_objects_content_container %}

                {% comment %}
                    Optional: Section AFTER the objects
                {% endcomment %}
                {% block app_content_objects_after %}
                {% endblock app_content_objects_after %}

            {% endblock app_content_inner_container %}

            {% comment %}
                Optional: Section after content
            {% endcomment %}
            {% block app_content_inner_container_after %}
            {% endblock app_content_inner_container_after %}

            {% comment %}
                Optional: 'Load More'
            {% endcomment %}
            {% block app_content_load_more_container %}
                {% if instance.pagination_type == "load" %}
                    <div class="load-more-container" {% if not next_page_url %}style="display:none;"{% endif %}>
                        <a href="{{ next_page_url }}" class="btn btn-primary btn-load-more ajax-load-items append" {% block app_content_load_more_attr %}{% endblock app_content_load_more_attr %} data-btn-ajax-loader>
                            <span class="btn-text">
                                {% if instance.load_more_button_text %}
                                    {{ instance.load_more_button_text }}
                                {% else %}
                                    {% trans "Load More" %}
                                {% endif %}
                            </span>
                        </a>
                    </div>
                {% endif %}
            {% endblock app_content_load_more_container %}

        </div>
    </div>
{% endblock app_content_section %}
