{% load thumbnail %}

<picture class="lazyloader {% if icon_disabled %}icon-disabled{% endif %} {% if bg_disabled %}bg-disabled{% endif %} {% if bg_color and bg_color != 0 %}project-color-{{bg_color}}{% endif %}" style="padding-bottom: calc({{thumbnail_width_lg.height}}/{{thumbnail_width_lg.width}}*100%);
">

    {# end render figure/figcaption #}

    <!--[if IE 9]><video style="display: none;"><![endif]-->

    {# XL #}
    <source
        data-srcset="{{thumbnail_width_lg.url}}, {{thumbnail_width_lg_2x.url}} 2x"
        media="(min-width:1200px)"
        >

    {# SM #}
    <source
        data-srcset="{{thumbnail_width_sm.url}}, {{thumbnail_width_sm_2x.url}} 2x"
        media="(min-width:576px)"
        >

    <!--[if IE 9]></video><![endif]-->

    {# XS #}
    <img
        data-srcset="{{thumbnail_width_xs.url}}, {{thumbnail_width_xs_2x.url}} 2x"
        alt="{{ object.title }}"
        class="lazyload"
    >

</picture>
