<meta charset="utf-8">

{# META Block#}
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="canonical" href="{% spaceless %}
    {{ request.build_absolute_uri }}
{% endspaceless %}">
<meta name="description" content="{% spaceless %}
    {{ description }}
{% endspaceless %}">
<meta name="format-detection" content="telephone=no">{% comment %} Removing ugly phone number links on Internet Explorer: https://msdn.microsoft.com/en-us/library/dn265018(v=vs.85).aspx {% endcomment %}<meta name="google-site-verification" content="{{ google_site_verification }}" />

{# OpenGraph Block#}

<meta property="og:type" content="website">
<meta property="og:url" content="{% spaceless %}
    {% block og_url %}
        {{ request.build_absolute_uri }}
    {% endblock og_url %}
{% endspaceless %}">
<meta property="og:title" content="{% spaceless %}
    {% block og_title_container %}
        {{ og_title }}
    {% endblock og_title_container %}
{% endspaceless %}">
<meta property="og:description" content="{% spaceless %}
    {{ description }}
{% endspaceless %}">
<meta property="og:image" content="{% spaceless %}
    {{ image_url }}
{% endspaceless %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
