{% load thumbnail %}

{% comment %}

    djangocms-picture Docs:

    https://github.com/divio/djangocms-picture

{% endcomment %}

{# start render figure/figcaption #}
{% if instance.caption_text %}
    <figure>
{% endif %}
{# end render figure/figcaption #}

    {% if instance.get_link_url %}
        <a href="{{ instance.get_link_url }}"
            {% if instance.new_window_enabled %} target="_blank"{% endif %}
            {{ instance.link_attributes_str }}
            >
    {% endif %}


        {# image object to figure out ratio #}
        {% thumbnail instance.picture thumbnail_url_xl as image_xl %}

            <picture
                class="lazyloader {% if bg_disabled %}no-bg{% endif %} {% if icon_disabled %}no-icon{% endif %}"
                style="padding-bottom: calc({{image_xl.height}}/{{image_xl.width}}*100%);"
                >

            <!--[if IE 9]><video style="display: none;"><![endif]-->

            {# XL #}
            <source
                data-srcset="{{ instance.picture|thumbnail_url:thumbnail_url_xl }},
                    {{ instance.picture|thumbnail_url:thumbnail_url_xl_2x }} 2x"
                media="(min-width:1200px)"
                >
            {# SM #}
            <source
                data-srcset="{{ instance.picture|thumbnail_url:thumbnail_url_sm }},
                    {{ instance.picture|thumbnail_url:thumbnail_url_sm_2x }} 2x"
                media="(min-width:576px)"
                >

            <!--[if IE 9]></video><![endif]-->

            {# XS #}
            <img
                data-srcset="{% spaceless %}
                {{ instance.picture|thumbnail_url:thumbnail_url_xs }},
                {{ instance.picture|thumbnail_url:thumbnail_url_xs_2x }} 2x
                {% endspaceless %}"
                {% if instance.picture.alt %} alt="{{ instance.picture.alt }}"{% endif %}
                {% if instance.width %} width="{{ instance.width }}"{% endif %}
                {% if instance.height %} height="{{ instance.height }}"{% endif %}
                class="lazyload"
                {% if instance.picture.default_alt_text and not instance.attributes.alt %} alt="{{ instance.picture.default_alt_text }}"{% endif %}
                {{ instance.attributes_str }}
                >

        </picture>



    {% if instance.get_link_url %}
        </a>
    {% endif %}

{# start render figure/figcaption #}
{% if instance.caption_text %}
        <figcaption>{{ instance.caption_text }}</figcaption>
    </figure>
{% endif %}
{# end render figure/figcaption #}
