{% load staticfiles %}

{# APPLE #}
    {% for apple_fav in apple_favs %}
        <link rel="apple-touch-icon" sizes="{{ apple_fav.width }}x{{ apple_fav.height }}" href="{{ apple_fav.url }}">
    {% endfor %}

{#  ANDROID  #}
    {% for android_fav in android_favs %}
        <link rel="icon" type="image/png" href="{{ android_fav.url }}" sizes="{{ android_fav.width }}x{{ android_fav.height }}">
    {% endfor %}
    {% if manifest %}<link rel="manifest" href="{{ manifest.url }}">{% endif %}
    <meta name="theme-color" content="{{ allink_config.theme_color }}">

{#  SAFARI  #}
    {% if mask_icon %}  <link rel="mask-icon" href="{{ mask_icon.url }}" color="{{ allink_config.mask_icon_color }}">{% endif %}

{#  MS  #}
    {% if mstile %}<meta name="msapplication-TileImage" content="{{ mstile.url }}">{% endif %}
    <meta name="msapplication-TileColor" content="{{ allink_config.msapplication_tilecolor }}">

{# FAVICON #}
    {% for fav in favicons %}
        <link rel="icon" type="image/png" href="{{ fav.url }}" sizes="{{ fav.width }}x{{ fav.height }}">
    {% endfor %}
    {% if favicon %}<!--[if IE]><link rel="shortcut icon" href="{{ favicon }}"><![endif]-->{% endif %}
