include LICENSE
recursive-include allink_core/allink_base/templates *
recursive-include allink_core/allink_styleguide/templates *
recursive-include allink_core/allink_mailchimp/templates *
recursive-include allink_core/allink_terms/templates *
recursive-include allink_core/djangocms_content/templates *
recursive-include allink_core/djangocms_image/templates *
recursive-include allink_core/djangocms_gallery/templates *
recursive-include allink_core/djangocms_socialicon/templates *
recursive-include allink_core/djangocms_button_link/templates *
recursive-include allink_core/djangocms_group/templates *
recursive-include allink_core/djangocms_instagram/templates *
recursive-include allink_core/djangocms_vid/templates *
