include LICENSE
recursive-include allink_core/core/templates *
recursive-include allink_core/core_apps/allink_styleguide/templates *
recursive-include allink_core/core_apps/allink_content/templates *
recursive-include allink_core/core_apps/allink_image/templates *
recursive-include allink_core/core_apps/allink_gallery/templates *
recursive-include allink_core/core_apps/allink_social_icon/templates *
recursive-include allink_core/core_apps/allink_button_link/templates *
recursive-include allink_core/core_apps/allink_video/templates *
recursive-include allink_core/core_apps/allink_cms/templates *
recursive-include allink_core/core_apps/allink_info_box/templates *
recursive-include allink_core/core_apps/allink_seo_accordion/templates *
recursive-include allink_core/core_apps/allink_teaser/templates *
recursive-include allink_core/core_apps/allink_quote/templates *
recursive-include allink_core/core_apps/allink_list_multicol/templates *
recursive-include allink_core/core_apps/allink_image_svg/templates *

recursive-include allink_core/core/locale *
recursive-include allink_core/core_apps/allink_styleguide/locale *
recursive-include allink_core/core_apps/allink_categories/locale *
recursive-include allink_core/core_apps/allink_mandrill/locale *
recursive-include allink_core/core_apps/allink_content/locale *
recursive-include allink_core/core_apps/allink_image/locale *
recursive-include allink_core/core_apps/allink_gallery/locale *
recursive-include allink_core/core_apps/allink_social_icon/locale *
recursive-include allink_core/core_apps/allink_button_link/locale *
recursive-include allink_core/core_apps/allink_video/locale *
recursive-include allink_core/core_apps/allink_legacy_redirect/locale *
recursive-include allink_core/core_apps/allink_cms/locale *
recursive-include allink_core/core_apps/allink_info_box/locale *
recursive-include allink_core/core_apps/allink_seo_accordion/locale *
recursive-include allink_core/core_apps/allink_teaser/locale *
recursive-include allink_core/core_apps/allink_quote/locale *
recursive-include allink_core/core_apps/allink_list_multicol/locale *
recursive-include allink_core/core_apps/allink_image_svg/locale *

recursive-include allink_core/core/migrations *
recursive-include allink_core/core_apps/allink_styleguide/migrations *
recursive-include allink_core/core_apps/allink_categories/migrations *
recursive-include allink_core/core_apps/allink_content/migrations *
recursive-include allink_core/core_apps/allink_image/migrations *
recursive-include allink_core/core_apps/allink_gallery/migrations *
recursive-include allink_core/core_apps/allink_social_icon/migrations *
recursive-include allink_core/core_apps/allink_button_link/migrations *
recursive-include allink_core/core_apps/allink_video/migrations *
recursive-include allink_core/core_apps/allink_legacy_redirect/migrations *
recursive-include allink_core/core_apps/allink_cms/migrations *
recursive-include allink_core/core_apps/allink_info_box/migrations *
recursive-include allink_core/core_apps/allink_seo_accordion/migrations *
recursive-include allink_core/core_apps/allink_teaser/migrations *
recursive-include allink_core/core_apps/allink_quote/migrations *
recursive-include allink_core/core_apps/allink_list_multicol/migrations *
recursive-include allink_core/core_apps/allink_image_svg/migrations *

recursive-exclude * *.pyc
