{% load thumbnail %}

{% if instance.video_file %}

    {# create thumbnail #}
    {% thumbnail instance.video_poster_image 1500x9999 upscale=False as placeholder_image %}

    <div class="app-content-plugin video-file-plugin video-{{ instance.id }} on-pause {% if instance.auto_start_enabled %}autoplay-enabled{% endif %} {% if instance.poster_only_on_mobile %}poster-only-on-mobile{% endif %}">

        <video
            id="video-{{ instance.id }}"
            class="the-video"
            playsinline
            {% if instance.video_muted_enabled %}muted{% endif %}
            {% if instance.auto_start_enabled %}autoplay{% endif %}
            loop
            poster="{{ placeholder_image.url }}">
            <source src="{{ instance.video_file.url }}" type="video/mp4">
        </video>

        <div class="video-controls">
            <span></span>
        </div>

    </div>
{% endif %}

