{% extends base_template|default:"base.html" %}

{% load cms_tags allink_cms_tags sekizai_tags i18n allink_image_tags thumbnail %}

{% block content %}

    <div class="app-detail events-plugin" data-scroll-spy>

        {% comment %}
            Header Section
        {% endcomment %}
        <div class="content-section app-detail__header container-enabled">
            <div class="content-section__container">
                <div class="app-detail__col-container">

                    <div class="app-detail__header-col">
                        {% if object.preview_image %}
                            <div class="image-container">
                                {% render_image image=object.preview_image width_alias="2-of-3" %}
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        {% comment %}
            Section Heading Container
        {% endcomment %}
        <div class="content-section app-detail__section-heading-container container-enabled">
            <div class="content-section__container">
                <div class="app-detail__col-container">

                    <div class="app-detail__header-col">
                        <h1 class="app-detail__section-heading">
                            {% render_model_ajax object "title" %}
                        </h1>
                        <div class="date-container">
                            {{object.created|date:"j.n.Y"}}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% comment %}
            Content Section
        {% endcomment %}
        <div class="content-section app-detail__content container-enabled">
            <div class="content-section__container">
                <div class="app-detail__col-container app-detail__col-2-1">

                    <div class="app_detail__col app_detail__col-1">
                        <div class="lead-container">
                            {% if object.lead %}
                                <div class="text-container">
                                    {# optional: lead #}
                                    <p class="lead">
                                        {{object.lead|striptags}}
                                    </p>
                                    {# we wouldn't be here if the text was empty #}
                                </div>
                            {% endif %}
                        </div>
                        <div class="app-detail__content-container">
                            {% render_placeholder object.content_placeholder %}
                        </div>
                    </div>{# end .app_detail__col #}

                    <div class="app_detail__col app_detail__col-2">
                        <div class="manage-spacings">
                           {{object.costs}}
                           {{object.duration}}
                           {{object.location}}
                        </div>
                    </div>{# end .app_detail__col #}

                </div>{# end .app-detail__col-container #}
            </div>
        </div>

    </div>

{% endblock %}
