{% load i18n menu_tags cache %}
{# DOCS: http://django-cms.readthedocs.org/en/latest/advanced/templatetags.html#show-menu-examples #}

{% for child in children %}
<li class="child{% if child.ancestor %} ancestor active{% endif %}{% if child.selected %} active{% endif %}{% if child.children and dropdown %} children nav-dropdown{% endif %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
    <a href="{{ child.get_absolute_url }}">
        <strong>
            {{ child.get_menu_title }}
            {% comment %}
                {% if child.children and not child.parent and dropdown %}<span class="caret"></span>{% endif %}
            {% endcomment %}
        </strong>
    </a>
    {% comment %}
    {% endcomment %}
    {% if child.children %}
        <ul class="subnav" {% if child.children and not child.parent and dropdown %}role="menu"{% endif %}>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
    {% endif %}
</li>
{% endfor %}
