{% load i18n %}

<form action="{% url 'mailchimp:singup' %}" methode="post" class="ajax-form validate-form" role="form" data-form-container-id="mailchimp-form-container" data-success-data-layer-event="newsletter.sent">

    {% csrf_token %}
    <div class="input-group">
        <input name="language" id="id_language" type="hidden" value="{{ request.LANGUAGE_CODE }}">
        <input name="email" id="id_email" type="email" placeholder="{% trans "Your Email address" %}" class="form-control" value="{{ mailchimp_signup_form.email.value|default:"" }}" required>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" data-btn-ajax-loader>
                <span class="btn-text">
                    {% trans "Send" %}
                </span>
            </button>
        </span>
    </div>

    {# something wrong with the email format #}
    {% if mailchimp_signup_form.email.errors %}
        <div class="alert alert-danger">
            {{mailchimp_signup_form.email.errors}}
        </div>
    {% endif %}

    {# any other error messages #}
    {% if mailchimp_signup_form.non_field_errors %}
        {% for error in mailchimp_signup_form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}

</form>
