{% load i18n %}
<div class="mailchimp-group-item">
    <header class="" data-accordion-trigger>
        <h3 class="heading">
            <a data-toggle="collapse" href="#group-content-1" aria-expanded="false" aria-controls="group-content-1" class="collapsed no-icon" data-colllapse-toggle>
                {% block newsletter_heading_text %}
                    {% trans 'Newsletter abonnieren' %}
                {% endblock newsletter_heading_text %}
            </a>
       </h3>
    </header>
    <div class="collapse" id="group-content-1">
        <div class="mailchimp-group-item-child">
             <div class="manage-spacings">
                 <form action="{% url 'mailchimp:singup_advanced' %}" methode="post" class="ajax-form validate-form" role="form" data-form-container-id="mailchimp-form-container" data-success-data-layer-event="newsletter.sent">

                    {% csrf_token %}
                    <div class="form-group">
                        <input name="language" id="id_language" type="hidden" value="{{ request.LANGUAGE_CODE }}">
                        <input name="first_name" id="id_first_name" type="text" placeholder="{% block newsletter_first_name_text %}{% trans "First Name" %}{% endblock newsletter_first_name_text %}" class="form-control" value="{{ mailchimp_signup_form.first_name.value|default:"" }}" required>
                        <input name="last_name" id="id_last_name" type="text" placeholder="{% block newsletter_last_name_text %}{% trans "Last Name" %}{% endblock newsletter_last_name_text %}" class="form-control" value="{{ mailchimp_signup_form.last_name.value|default:"" }}" required>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input name="email" id="id_email" type="email" placeholder="{% block newsletter_email_field_text %}{% trans "Your Email address" %}{% endblock newsletter_email_field_text %}" class="form-control" value="{{ mailchimp_signup_form.email.value|default:"" }}" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" data-btn-ajax-loader>
                                    <span class="btn-text">
                                        {% block newsletter_btn_text %}
                                            {% trans "Send" %}
                                        {% endblock newsletter_btn_text %}
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>

                    {# something wrong with the email format #}
                    {% if mailchimp_signup_form.email.errors %}
                        <div class="alert alert-danger">
                            {{mailchimp_signup_form.email.errors}}
                        </div>
                    {% endif %}

                    {# any other error messages #}
                    {% if mailchimp_signup_form.non_field_errors %}
                        {% for error in mailchimp_signup_form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                </form>

             </div>
         </div>
     </div>
</div>
