{% load cms_tags staticfiles sekizai_tags i18n thumbnail cache %}

{% comment %}
    cache for a half year, cache gets invalidated with changes
{% cache 15552000 content_gallery instance.id %}
{% endcomment %}
    <div class="app-content-plugin gallery-plugin ratio-{{instance.ratio}}">
        <div class="swiper-container swiper-default swiper-gallery-plugin" {% if instance.auto_start_enabled == False %}data-autoplay="false"{% endif %}>

            <div class="swiper-wrapper">
                {% for plugin in instance.child_plugin_instances %}
                    <div class="swiper-slide swiper-slide-{{plugin.id}}">
                        {% render_plugin plugin %}
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>

            <a href="#" class="swiper-button-prev swiper-button" data-softpage-disabled>
                <i class="sr-only" lang="en">
                    {% trans "Previous Slide" %}
                </i>
            </a>
            <a href="#" class="swiper-button-next swiper-button" data-softpage-disabled>
                <i class="sr-only" lang="en">
                    {% trans "Next Slide" %}
                </i>
            </a>

            {% if instance.counter_enabled %}
            <div class="swiper-counter">
                <span class="current">1</span>
                <span class="separator">–</span>
                <span class="total">1</span>
            </div>
            {% endif %}

            {% if instance.fullscreen_enabled %}
            <a href="#" class="swiper-button-fullscreen" data-softpage-disabled data-trigger-swiper-fullscreen>
                {% trans "Fullscreen Gallery" %}
            </a>
            {% endif %}

        </div>
    </div>
{% comment %}
    
{% endcache %}
{% endcomment %}
