{% load cms_tags staticfiles sekizai_tags i18n thumbnail %}

<div class="swiper-container swiper-default swiper-gallery-plugin">

    <div class="swiper-wrapper">
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>

    <div class="swiper-pagination"></div>

    <a href="#" class="swiper-button-prev swiper-button" data-softpage-disabled>
        <i class="sr-only" lang="en">
            {% trans "Previous Slide" %}
        </i>
    </a>
    <a href="#" class="swiper-button-next swiper-button" data-softpage-disabled>
        <i class="sr-only" lang="en">
            {% trans "Next Slide" %}
        </i>
    </a>
    <a href="#" class="swiper-button-fullscreen swiper-button" data-softpage-disabled data-trigger-swiper-fullscreen>
        <i class="sr-only" lang="en">
            {% trans "Fullscreen" %}
        </i>
    </a>

    <div class="swiper-counter">
        <span class="current">1</span>
        <span class="separator">–</span>
        <span class="total">0</span>
    </div>

</div>
