{% load widget_tweaks i18n %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% block control_group %}
        <div class="form-group field-type-{{ field|widget_type }} {% if field.errors %}has-error{% endif %} {% if is_optional %}is-optional{% endif %}">
            {% include 'partials/forms/label.html' %}

            {% block controls %}
                <div class="form-field-container checkbox-group {% if layout_inline %}checkbox-inline{% endif %}">
                    {% block widget %}
                        <div class="checkbox">
                            <label {% if field.required %}class="required"{% endif %}>
                                {% render_field field %}
                                <div class="custom-checkbox"></div>
                                {{ field.label|safe }}
                            </label>
                        </div>
                    {% endblock %}

                    {% include 'partials/forms/error.html' %}
                    {% include 'partials/forms/help.html' %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
