{% load widget_tweaks i18n %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% block control_group %}
        <div class="form-group field-type-{{ field|widget_type }} {% if field.errors %}has-error{% endif %} {% if is_optional %}is-optional{% endif %}">
            {% include 'partials/forms/label.html' %}

            {% block controls %}
                <div class="form-field-container">
                    {% block widget %}
                        {% if instance.label_layout == 'placeholder' or placeholder_enabled == True %}
                            {% if field.field.required %}
                                {% if placeholder_text %}
                                    {% render_field field class+="form-control" required="required" placeholder=placeholder_text %}
                                {% else %}
                                    {% render_field field class+="form-control" required="required" placeholder=field.label %}
                                {% endif %}
                            {% else %}
                                {% if placeholder_text %}
                                    {% render_field field class+="form-control" placeholder=placeholder_text %}
                                {% else %}
                                    {% render_field field class+="form-control" placeholder=field.label %}
                                {% endif %}
                            {% endif %}

                            {% comment %}
                            Default (withOUT placeholder):

                            Forcefully set placeholder='', to make sure they are NOT being displayed
                            {% endcomment %}
                        {% else %}
                            {% if field.field.required %}
                                {% render_field field class+="form-control" required="required" placeholder='' %}
                            {% else %}
                                {% render_field field class+="form-control" placeholder='' %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                    {% include 'partials/forms/error.html' %}
                    {% include 'partials/forms/help.html' %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
