{% load cms_tags staticfiles sekizai_tags i18n thumbnail %}

{% block app_content_section %}
    <div class="content-section app-content-plugin list-view {% spaceless %}{% block app_content_section_name_classes %}{% endblock app_content_section_name_classes %} {{instance.css_classes}}{% endspaceless %}" data-scroll-spy>
        <div class="container">


            {% comment %}
                Optional: Section before content
            {% endcomment %}
            {% block app_content_inner_container_before %}
            {% endblock app_content_inner_container_before %}

            {% comment %}
                Main Content Container
            {% endcomment %}
            {% block app_content_inner_container %}

                {% comment %}
                    Heading Container
                {% endcomment %}
                {% block app_content_heading_container %}
                    {% if instance.title %}
                        <header class="section-heading">
                            <h1 class="heading">{{ instance.title }}</h1>
                        </header>
                    {% endif %}

                    {% comment %}
                        Optional: Category List
                    {% endcomment %}
                    {% block app_content_category_container %}
                        {% if instance.category_navigation_enabled %}
                            <ul class="custom-nav-tabs app-content-categories">
                                {% if instance.category_navigation_all %}
                                    <li class="active">
                                        <a class="ajax-load-items" href="{{ by_category }}">
                                            {% block app_content_category_all_text %}
                                                {% trans 'All' %}
                                            {% endblock app_content_category_all_text %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% for category in category_navigation %}
                                <li class="{% if not instance.category_navigation_all and forloop.first %}active {% endif %}">
                                    <a class="ajax-load-items" href="{{ by_category }}&category={{ category.id }}">{{category.name}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock app_content_category_container %}

                {% endblock app_content_heading_container %}

                {% comment %}
                    Optional: Section BEFORE the objects
                {% endcomment %}
                {% block app_content_objects_before %}
                {% endblock app_content_objects_before %}

                {% comment %}
                    Object Loop
                {% endcomment %}
                {% block app_content_objects_content_container %}

                    {% comment %}
                        Required container for Softpage setting
                    {% endcomment %}
                    <div {% if instance.softpage_enabled %}data-trigger-softpage{% endif %}>

                        {% comment %}
                            Container for objects
                        {% endcomment %}
                        {% block app_content_objects_container %}
                        {% endblock app_content_objects_container %}

                    </div>
                {% endblock app_content_objects_content_container %}

                {% comment %}
                    Optional: Section AFTER the objects
                {% endcomment %}
                {% block app_content_objects_after %}
                {% endblock app_content_objects_after %}

            {% endblock app_content_inner_container %}

            {% comment %}
                Optional: Section after content
            {% endcomment %}
            {% block app_content_inner_container_after %}
            {% endblock app_content_inner_container_after %}

            {% comment %}
                Optional: 'Load More'
            {% endcomment %}
            {% block app_content_load_more_container %}
                {% if instance.pagination_type == "load" %}
                    <div class="load-more-container" {% if not next_page_url %}style="display:none;"{% endif %}>
                    <a href="{{ next_page_url }}" class="btn btn-default btn-load-more ajax-load-items append" {% block app_content_load_more_attr %}{% endblock app_content_load_more_attr %}>
                            {% if instance.load_more_button_text %}
                                {{ instance.load_more_button_text }}
                            {% else %}
                                {% trans "Load More" %}
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endblock app_content_load_more_container %}

        </div>
    </div>
{% endblock app_content_section %}
