{% load static %}

{% if selects.name == 'btn_context' %}
    <div class="btn-container" data-context="{{ selects.name }}">
        {% for item in selects %}
            <div class="btn btn-{{item.choice_value}} {% if selects.value == item.choice_value %}active{% endif %}" data-toggle-active-state>
                {{ item }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{# Available Variables #}
{# {{ item.choice_value }}: {{ item.choice_label }} #}
{# selected: {{ selects.value }}  #}
