{% load cms_tags sekizai_tags i18n thumbnail allink_user_tags allink_members_tags %}
{% comment %}
    LOGOUT: requires a form to submit with the POST method (check if logged in an in group 'members')
{% endcomment %}
{% if instance.link_special == 'account_logout' and user.is_authenticated %}
    <form method="post" action="{{instance.get_link_url}}">
    {% csrf_token %}
{% endif %}
    <a href="{{ instance.get_link_url }}"
        class="
            {% if instance.type == 'btn' %}
                btn{% if instance.btn_context %} btn-{{ instance.btn_context }}{% endif %}
                {% if instance.btn_size %} btn-{{ instance.btn_size }}{% endif %}
                {% if instance.btn_block %} btn-block{% endif %}
            {% else %}
                text
            {% endif %}
            {% if extra_css_classes %} {{ extra_css_classes }}{% endif %}
        "
        {% if instance.type == 'btn' %}
            role="button"
        {% endif %}
        {% if instance.new_window_enabled %}
            target="_blank"
        {% endif %}
        {% if instance.form_modal_enabled %}data-trigger-form-modal{% endif %}
        {% if instance.image_modal_enabled %}data-trigger-image-modal{% endif %}
        {% if instance.is_page_link %}data-cms-page{% endif %}
        {% if instance.softpage_large_enabled or instance.softpage_small_enabled and instance.link_special != 'account_logout' %}data-trigger-softpage{% endif %}
        {% if instance.softpage_large_enabled %}data-softpage-variation="large"{% endif %}
        {% if instance.link_anchor %}data-smooth-scroll{% endif %}
        {% if instance.softpage_small_enabled %}data-softpage-variation="small"{% endif %}
        {% if instance.link_special == 'account_login' and user.is_authenticated %}data-softpage-disabled{% endif %}
        {% if instance.link_special == 'account_logout' and user.is_authenticated %}data-submit-form{% endif %}
        {{ instance.link_attributes_str }}
        >{% spaceless %}

       {% comment %}
            if button is login-button to member area check if logged in an in group 'members'
        {% endcomment %}

        {% if instance.link_special == 'account_login' and user.is_authenticated %}
            {% trans 'Member Area' %}
        {% else %}
            {{ instance.label }}
        {% endif %}
        {% if instance.link_file.name %}
            {{ instance.link_file.name }}
        {% endif %}
        {%if instance.link_file.description %}
            {{ instance.link_file.description }}
        {% endif %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}

{% endspaceless %}</a>

{% comment %}
    LOGOUT
{% endcomment %}
{% if instance.link_special == 'account_logout' and user.is_authenticated %}
    </form>
{% endif %}

