{% load i18n %}

<div class="text-container">
    {% if plugin_instance %}
        {% if plugin_instance.thank_you_text %}
            <p>{{plugin_instance.thank_you_text}}</p>
        {% else %}
            <p>{% trans "Thanks for your request." %}</p>
        {% endif %}
    {% else %}
        <p>{% trans "Thanks for your request." %}</p>
        <p>
            <a href="#" class="btn btn-default" data-close-form-modal>
                {% trans "Close window" %}
            </a>
        </p>
    {% endif %}
</div>
