{% load allink_image_tags %}
<div class="teaser teaser--bg-image">
    {% include 'allink_teaser/includes/_link-begin.html' %}
        <div class="teaser__image">
            {% render_image image=teaser_image width_alias='teaser-bg-image' %}
        </div>

        <div class="teaser__content">
            {% include 'allink_teaser/includes/_technical-title.html' with teaser_title=teaser_title %}
            {% include 'allink_teaser/includes/_title.html' with teaser_title=teaser_title %}
            {% include 'allink_teaser/includes/_description.html' with teaser_description=teaser_description %}
            {% include 'allink_teaser/includes/_button-wrapper.html' %}
        </div>
    {% include 'allink_teaser/includes/_link-end.html' %}
</div>
