{# Page Title #}
<title>{{ page_title }}</title>

{# META Block#}
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta content="{{ description }}" name="description" />
<meta content="{{ google_site_verification }}" name="google-site-verification" />

{# OpenGraph Block#}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image_url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
