{% extends "account/ajax_base.html" %}
{% load i18n allink_members_tags %}

{% block softpage_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    {% members_index_page_full_url as success_url %}
    {% url "account_login" as action%}
    {% trans "Login" as cta %}
    {% include "includes/forms/form.html" with class='password-reset-form' action=action cta=cta success_url=success_url%}

    <a class="button" href="{% url 'account_reset_password' %}" data-trigger-softpage>{% trans "Forgot Password?" %}</a></small>
{% endblock %}
