{% extends "account/ajax_base.html" %}
{% load i18n allink_members_tags %}

{% load account %}


{% block softpage_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="">
    <div class="text-container">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>


    {% url "account_reset_password" as action%}
    {% trans "Reset My Password" as cta %}
    {% include "includes/forms/form.html" with class='password-reset-form' action=action cta=cta success_url='/' %}

    <div class="text-container">
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
