{% extends "account/base.html" %}

{% load i18n allink_members_tags %}
{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="text-container">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" data-trigger-softpage>new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}

                {% members_index_page_full_url as success_url %}
                {% url '.' as action %}
                {% trans "Change password" as cta %}
                {% include "includes/forms/form.html" with class='password-reset-form' action=action cta=cta success_url=success_url %}

            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
