{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{##}
{#{% block page_title %}{% trans "Signup" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#        <h1>{% trans "Werde Faces Member" %}</h1>#}
{#        <h2 class="title-large-italic">- erledigt in einer Minute!</h2>#}
{##}
{#        <p>{% blocktrans %}Hast du bereit ein Konto? <a href="{{ login_url }}">Einloggen</a>.{% endblocktrans %}</p>#}
{#    </div>#}
{#    <div class="signup-form-container">#}
{#        <p>#}
{#            <small><span class="required-label"></span> Diese Felder sind erforderlich.</small>#}
{#        </p>#}
{#        <form class="signup address-form" id="signup_form" method="post" action="{% block actin_url %}{% url 'account_signup' %}{% endblock %}">#}
{#            {% csrf_token %}#}
{#            {% if redirect_field_value %}#}
{#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#            {% endif %}#}
{#            {% include 'includes/forms/non_field_errors.html' %}#}
{#            {% include "member/includes/form_inputs.html" %}#}
{#            <div class="form-group">#}
{#                <button class="btn btn-primary btn-big" type="submit">{% trans "Sign Up" %}</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
